@font-face {
  font-family: Cairo;
  src: url("../fonts/Cairo/Cairo-VariableFont_slnt_wght.ttf");
}
@font-face {
  font-family: Orbitron;
  src: url("../fonts/Orbitron/Orbitron-VariableFont_wght.ttf");
}

:root,
body {
  font-family: Cairo;
  font-size: 16px;
  height: 100%;
}

:root {
  --clr-bg: #060606;
  --clr-bg-2: #202020;

  --clr-highlight: #d0f83e;
  --clr-under-headings: #00f2e4;

  --clr-font-main: #fff;
  --clr-font-highlight: #d0f83e;
  --clr-font-dark: #202020;

  --clr-odd-1: #e92a67;
  --clr-odd-2: #a853ba;
  --clr-odd-3: #2a8af6;
  --clr-odd-4: rgba(42, 138, 246, 0);
}

body {
  background: var(--clr-bg);
  color: var(--clr-font-main);
  margin: 0;
  padding: 0;
}
#root {
  height: 100%;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-width: 770px;
  height: 100%;

  @mixin logoImage {
    margin: 0;
    padding: 0;
    color: var(--clr-font-main);
    background-repeat: no-repeat;
    text-indent: -10000px;
  }

  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }

  header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;

    h1.logo {
      @include logoImage;
      background-image: url("../images/logo_top.png");
      width: 198px;
      flex: 1 1 198px;
      height: 49px;
      transition: transform 2ms linear 2s;

      &:hover {
        animation: 0.5s linear 0.5s shake;
      }
    }
  }

  section {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > * {
      flex-basis: 340px;
    }

    h3.logo {
      @include logoImage;
      background-image: url("../images/logo_bottom.png");
      background-position: center;
      width: 219px;
      height: 54px;
    }
  }
}

@property --gradient-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@keyframes rotation {
  0% {
    --gradient-angle: 360deg;
  }
  100% {
    --gradient-angle: 0deg;
  }
}

button {
  border: 1px solid var(--clr-bg-2);
  border-radius: 4px;
  background: var(--clr-highlight);
  padding: 0.75rem 1rem;
  text-transform: uppercase;
  font-family: Orbitron;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  cursor: pointer;
  position: relative;
  z-index: 9;

  &:hover {
    background: var(--clr-under-headings);

    &::before {
      background: conic-gradient(
        from var(--gradient-angle),
        var(--clr-odd-1) 0deg,
        var(--clr-odd-2) 112.5deg,
        var(--clr-odd-3) 228.75deg,
        var(--clr-odd-4) 360deg
      );
      -webkit-mask-image: linear-gradient(0deg, #000 2px, transparent 0),
        linear-gradient(90deg, #000 2px, transparent 0),
        linear-gradient(180deg, #000 2px, transparent 0),
        linear-gradient(270deg, #000 2px, transparent 0);
      mask-image: linear-gradient(0deg, #000 2px, transparent 0),
        linear-gradient(90deg, #000 2px, transparent 0),
        linear-gradient(180deg, #000 2px, transparent 0),
        linear-gradient(270deg, #000 2px, transparent 0);
      border-radius: inherit;
      content: "";
      position: absolute;
      inset: -2px;
      z-index: -1;
      animation: rotation 2s linear infinite;
    }
  }
}
