.form-section {
  width: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  h2 {
    position: relative;
    color: var(--clr-font-main);
    font-size: 1.75rem;
    font-family: Orbitron;
    margin: 0 0 5rem 0;

    &::after {
      position: absolute;
      bottom: -0.75rem;
      left: calc(50% - (3.125rem / 2));
      content: "";
      width: 3.125rem;
      height: 0.2rem;
      background: var(--clr-under-headings);
    }
  }
  @mixin greenCube {
    content: "";
    width: 83px;
    height: 77px;
    background: var(--clr-highlight);
    position: absolute;
    z-index: -1;
  }
  .form-wrapper {
    position: relative;
    z-index: 2;

    &::before {
      @include greenCube;
      top: -8px;
      left: -8px;
    }
    &::after {
      @include greenCube;
      top: -8px;
      right: -8px;
    }

    .form-container {
      background: var(--clr-bg-2);
      width: 600px;
      min-height: 200px;
      border: 1px solid transparent;
      position: static;
      z-index: 2;

      &::before {
        @include greenCube;
        bottom: -8px;
        left: -8px;
      }
      &::after {
        @include greenCube;
        bottom: -8px;
        right: -8px;
      }

      .notice {
        background: var(--clr-under-headings);
        margin: 3rem 1rem;
        padding: 3rem;
        color: var(--clr-font-dark)
      }
      form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 6%;
        width: 423px;
        margin: 70px auto;

        .control {
          width: 100%;
          margin-bottom: 1.25rem;

          &.error {
            label small {
              color: red;
            }
            input {
              border: 1px solid red;
            }
          }

          label {
            font-size: 1.125rem;
            font-weight: 500;
            display: block;
            line-height: 1rem;
            color: var(--clr-font-highlight);
            margin: 0 0 0.5rem 0;
            padding: 0;
          }
          input {
            margin: 0;
            padding: 0 0.5rem;
            width: 100%;
            height: 1.875rem;
            border: 0;
            border-radius: 4px;
          }
          a {
            color: var(--clr-font-highlight);
          }

          &.centered {
            display: flex;
            justify-content: center;
          }
          &.half-size {
            width: 47%;
          }
        }
      }
    }
  }
}
