.user-block {
  button {
    border: 1px solid var(--clr-bg-2);
    border-radius: 4px;
    background: var(--clr-highlight);
    padding: 0.75rem 1rem;
    text-transform: uppercase;
    font-family: OrbitronRegular;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1rem;

    &:hover {
      border: 1px solid var(--clr-highlight);
    }
  }
}
