.socials {
  color: var(--clr-font-highlight);
  display: flex;
  justify-content: flex-end;

  a {
    font-size: 1.25rem;
    color: var(--clr-font-highlight);
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 1rem;
    }
    &:hover {
      color: var(--clr-under-headings);
    }
  }
}
